@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.fa {
  margin-left: 2px;
  margin-right: 2px;
}

.btn, input, .form-control {
  border-radius: 0 !important;
}

.page-title {
  float:none;
  text-align:center;
  font-family: 'audimatbold';
}

.selectize-control {
  /* Align Selectize with input-group-btn */
  top: 2px;

}

.selectize-control > .selectize-dropdown {
  top: 34px;

}

/* Reset right rounded corners, see Bootstrap input-groups.less */
.input-group > .selectize-control > .selectize-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

// injector
@import 'footer/footer.less';
@import 'link/link.less';
@import 'play/play.less';
@import 'slist/slist.less';
@import 'spanel/spanel.less';
@import 'streamers/streamers.less';
@import 'connectoverlay/connectoverlay.less';
@import 'net-anim/net-anim.less';
// endinjector
