'use strict';

// Environment variables that grunt will set when the server starts locally. Use for your api keys, secrets, etc.
// You will need to set these on the server you deploy to.

module.exports = {
  DOMAIN: 'http://domain.com',
  DEBUG: '',
  STEAM_API: "STEAM API KEY HERE",
  NETWORK_SERVER: 'ws://ip:port',
  TWITCH_ID: 'TWITCH API KEY ID',
  TWITCH_SECRET: 'TWITCH API KEY SECRET'
};
