#homeCont
  #titleCont SUB GAMES
  #subtitleCont Play with your favorite streamers.
  .netAnim(net-anim="")
  #loginCont
    .loginBtns(ng-if="auth.currentUser!=null",style="text-align:center;margin-bottom:5px")
      button.btn.btn-danger(ng-click="auth.logout()")
        i.fa.fa-sign-out
        | Sign Out
    .loginBtns
      button.btn(ng-if="auth.currentUser==null||auth.currentUser.steam==null",ng-click="steamSignin()")
        i.fa.fa-steam
        | Connect Steam
      button.btn(ng-if="auth.currentUser!=null&&auth.currentUser.steam!=null",ng-click="steamDisconnect()")
        i.fa.fa-steam
        | Disconnect Steam
      button.btn(ng-if="auth.currentUser==null||auth.currentUser.steam==null",ng-click="twitchSignin()",style="float:right")
        i.fa.fa-twitch
        | Connect Twitch
      button.btn(ng-if="auth.currentUser!=null&&auth.currentUser.steam!=null",ng-click="twitchDisconnect()",style="float:right")
        i.fa.fa-twitch
        | Disconnect Twitch
