div(connectoverlay="{{showOverlay()}}",message="{{overlayMessage()}}")
.backCont
  button.btn(ng-click="goToLink()")
    i.fa.fa-remove
    | Leave Player Pool
#homeCont(ng-if="network.activeGame==null")
  #titleCont(style="font-size:39px") In Player Pool
  .subtitleCont(ng-if="network.activeSearch==null") Waiting for a game slot.
  .subtitleCont(ng-if="network.activeSearch!=null") Waiting for game start...
  .netAnim(net-anim="")
  .subtitleCont(ng-if="network.activeSearch==null") You will hear a sound and accept/decline the match.
  .subtitleCont(ng-if="network.activeSearch!=null") Finding other players...
