div(connectoverlay="{{showOverlay()}}",message="{{overlayMessage()}}")
.backCont
  button.btn(ng-click="goToLink()")
    i.fa.fa-remove
    | Leave Player Pool
#homeCont
  .titleCont(style="font-size:39px",ng-if="network.activeGame==null&&network.activeSearch==null") In Player Pool
  .titleCont(style="font-size:39px",ng-if="network.activeGame!=null") In Game
  .titleCont(style="font-size:39px",ng-if="network.activeGame==null&&network.activeSearch!=null") In Next Game
  .subtitleCont(ng-if="network.activeSearch==null&&network.activeGame==null") Waiting for a game slot.
  .subtitleCont(ng-if="network.activeSearch!=null&&network.activeGame==null") Waiting for game start...
  .subtitleCont(ng-if="network.activeGame != null") {{SetupStatusN[network.activeGame.Details.Status]}}
  .netAnim(net-anim="")
  .subtitleCont(ng-if="network.activeSearch==null&&network.activeGame==null") You will hear a sound and accept/decline the match.
  .subtitleCont(ng-if="network.activeSearch!=null&&network.activeGame==null") Finding other players...
  .subtitleCont(ng-if="network.activeGame!=null&&network.activeGame.Details.Status>=3") 
    | Lobby password: 
    b {{network.activeGame.Details.Password}}
  .subtitleCont(ng-if="network.activeGame!=null&&network.activeGame.Details.Status>=3",style="margin-top:10px") 
    i.fa.fa-exclamation(ng-if="!getReady()")
    i.fa.fa-check(ng-if="getReady()")
    | Join team: 
    b(style="color:red",ng-if="getTeam()==1") Dire
    b(style="color:green",ng-if="getTeam()==0") Radiant
div(style="position:fixed;bottom:15px;width:100%;height:30px;text-align:center;")
  | You are 
  b(ng-if="network.activePerms.IsFollower") a follower 
  b(ng-if="!network.activePerms.IsFollower") not a follower 
  |  and 
  b(ng-if="network.activePerms.IsSubscriber") a subscriber 
  b(ng-if="!network.activePerms.IsSubscriber") not a subscriber 
  |  of {{streamerName}}'s stream.
